@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f5;
  --foreground: #09090b;
  --muted: #e4e4e7;
  --muted-foreground: #71717a;
  --primary: #09090b;
  --primary-foreground: #fafafa;
  --accent: #18181b;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}
